#Fiona
#Shapely
#python-coveralls
#FancyText==0.3
PyYAML==5.1.2
attrs==19.3.0
coverage==3.7.1
git+git://github.com/freejoe76/fancytext#egg=FancyText
importlib-metadata==1.0.0
more-itertools==8.0.0
packaging==19.2
pep8==1.6.2
pluggy==0.13.1
py==1.4.20
pyparsing==2.4.5
pytest==2.5.2
python-coveralls==2.4.2
redis==2.9.1
requests==2.2.1
sh==1.09
six==1.13.0
wcwidth==0.1.7
zipp==0.6.0
