body:after {
  display: none; }
  @media only screen and (min-width: 220px) {
    body:after {
      content: "handheld"; } }
  @media only screen and (min-width: 600px) {
    body:after {
      content: "tablet"; } }
  @media only screen and (min-width: 768px) {
    body:after {
      content: 'tablet-large'; } }
  @media only screen and (min-width: 1024px) {
    body:after {
      content: "desktop-small"; } }
  @media only screen and (min-width: 1224px) {
    body:after {
      content: "desktop"; } }
  @media only screen and (min-width: 1824px) {
    body:after {
      content: "desktop-large"; } }

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Signika Negative', sans-serif;
  line-height: 1.2;
  text-rendering: optimizelegibility;
  color: #555; }

h1 {
  margin: 0 auto;
  font-family: 'Merriweather', sans-serif;
  color: #fff;
  font-weight: 900;
  font-style: normal;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  vertical-align: 10em;
  position: absolute;
  z-index: 10;
  width: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  @media only screen and (min-width: 220px) {
    h1 {
      font-size: 36px;
      line-height: 36px;
      margin-top: 10px; } }
  @media only screen and (min-width: 600px) {
    h1 {
      font-size: 60px;
      line-height: 60px;
      margin-top: 21px; } }
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 120px;
      line-height: 120px;
      margin-top: 100px;
      /* was 190 ***/ } }

h1 a {
  vertical-align: 10em;
  color: #fff;
  text-decoration: none;
  height: 100px;
  display: block; }

header {
  float: left;
  clear: both;
  width: 100%;
  margin: auto; }

.thelargeheader {
  overflow-y: hidden;
  /*  position: fixed; ***/
  width: 100%;
  background-color: #3ba5ff; }
  @media only screen and (min-width: 220px) {
    .thelargeheader {
      height: 40px; } }
  @media only screen and (min-width: 600px) {
    .thelargeheader {
      height: 70px; } }
  @media only screen and (min-width: 768px) {
    .thelargeheader {
      height: 198px;
      /* was 460 ***/ } }

.navtop {
  /* position: fixed; ***/
  margin: 0 auto;
  width: 100%;
  z-index: 1000;
  background: #f1f1f1; }
  @media only screen and (min-width: 220px) {
    .navtop {
      height: 30px; } }
  @media only screen and (min-width: 600px) {
    .navtop {
      height: 40px; } }
  @media only screen and (min-width: 768px) {
    .navtop {
      height: 50px; } }

.selected {
  height: 50px; }

.selectedb {
  height: 50px; }

.navigation {
  height: 100%;
  padding-top: 0px;
  width: 98%;
  margin: 0px 2% 0 2%;
  text-align: center; }

.navigation li {
  display: inline-block;
  list-style: none;
  padding: 3px 40px 0 40px;
  font-family: 'Montserrat', sans-serif;
  color: #6b6b6b;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
  position: relative;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out; }
  @media only screen and (min-width: 220px) {
    .navigation li {
      font-size: 10px;
      padding-top: 12px; } }
  @media only screen and (min-width: 600px) {
    .navigation li {
      font-size: 12px; } }
  @media only screen and (min-width: 768px) {
    .navigation li {
      font-size: 14px;
      padding-top: 17px; } }

h2, h2 p {
  font-family: 'Signika Negative', sans-serif; }
  @media only screen and (min-width: 220px) {
    h2, h2 p {
      font-size: 28px;
      line-height: 26px;
      margin: 10px 1%; } }
  @media only screen and (min-width: 600px) {
    h2, h2 p {
      line-height: 30px; } }
  @media only screen and (min-width: 768px) {
    h2, h2 p {
      font-size: 30px;
      margin: 0 10%; } }

h2 span {
  display: none; }

h3 {
  font-size: 24px; }

#timestamp {
  text-transform: uppercase; }

#timestamp, #ticker {
  font-size: 12px;
  line-height: 20px; }

#ticker {
  font-style: italic; }

section#content {
  margin: auto !important;
  width: 80%;
  height: auto;
  text-align: left;
  clear: both; }

section#content ul li,
section#content dl dt,
section#content dl dd {
  font-size: 13px;
  line-height: 15px; }

section#content dl dt {
  margin-top: 5px; }

section#content dl dd {
  text-indent: 50px; }

section#content ol {
  display: block; }

section#content ol li {
  list-style: decimal none inside;
  font-size: 13px;
  padding-left: 10px; }

footer {
  border-top: 1px solid #ccc;
  border-bottom: 3px solid #ccc;
  clear: both; }
  @media only screen and (min-width: 220px) {
    footer {
      width: 100%;
      margin: 20px auto;
      padding: 5px; } }
  @media only screen and (min-width: 768px) {
    footer {
      width: 50%;
      margin: 20px auto;
      padding: 15px; } }

p {
  font-family: 'Merriweather', sans-serif; }

footer p {
  margin: 10px 0; }

section#content .col {
  width: 45%;
  float: right; }

section#content .col:first-child {
  float: left;
  margin-right: 10%; }

section#content .col .col {
  float: left;
  width: 45%; }

.hide, .hidelist {
  display: none; }

.show {
  display: block; }

.showlist {
  display: list-item; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y: scroll; }

body {
  text-align: center;
  color: #333; }

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle; }

button,
input {
  *overflow: visible;
  line-height: normal; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

.container {
  float: none;
  min-width: 320px;
  max-width: 100%;
  width: 100%;
  margin: auto; }
  @media only screen and (min-width: 220px) {
    .container {
      width: 100%; } }

.container-content {
  overflow: hidden; }
  @media only screen and (min-width: 220px) {
    .container-content {
      width: 285px; } }

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .container-nav {
    width: 100%; }

  ul#nav {
    margin-bottom: 0; } }
@media only screen and (min-width: 481px) {
  /*
  .container-content { width:285px; }
  */ }
@media only screen and (min-width: 768px) {
  .container {
    border: 5px solid yellow; }

  /*
  .container-content { width:570px; }
  */ }
@media only screen and (min-width: 990px) {
  .container {
    border: none; }

  footer .container {
    width: 100%; }

  /* .container-content { width:790px; } */ }
#banner {
  z-index: 50; }
