html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
a,
abbr,
address,
cite,
code,
* {
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio[controls],
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
html {
  font-size: 62.5%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  text-rendering: optimizeLegibility;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  display: block;
}
img,
object,
embed {
  max-width: 100%;
  height: auto;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = GRID */
.container,
section {
  float: left;
  clear: both;
  width: 100%;
}
.row {
  width: 980px;
  margin: 0 auto;
  padding: 0 10px ;
}
.row .row {
  width: auto;
  max-width: none;
  min-width: 0;
  padding: 0;
}
.column,
.columns {
  float: left;
  min-height: 1px;
  padding: 0;
  position: relative;
}

/* = = = = = = FONTS */
h1 {
  font-family: 'Merriweather', sans-serif;
  font-size:  120px;

  line-height: 80px;
  color: #fff;
  font-weight: 900;
  font-style: normal;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  
}
h2 {
  font-family: 'Merriweather', sans-serif;
  font-size: 55px;
  line-height: 80px;
  color: #282828;
  font-weight: 700;
  font-style: normal;
}
h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: ;
  font-weight: normal;
  font-style: normal;
}
h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #e0e0e0;
  font-weight: 400;
  font-style: normal;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
h6:hover {
  color: #aeaeae;
}
blockquote {
  font-size: 16px;
  line-height: 32px;
  font-family: 'Merriweather', sans-serif;
  
    color: #282828;
  font-weight: 400;
}
p {
  font-family: 'Merriweather', sans-serif;
  font-size: 16px;
  line-height: 32px;
    color: #282828;
  font-weight: 400;
  margin-bottom: 25px;
}
a {
  text-decoration: none;
  color: #808080;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
a:hover {
  color: ;
}
li {
 font-family: 'Merriweather', sans-serif;
  font-size: 16px;
  line-height: 32px;
  font-weight: normal;
  font-style: normal;
}


/*======BASICS========== */

body {
   background-color: #f8f8f8;
  overflow: hidden;
  font-family: 'Merriweather', sans-serif;
}
nav,
section,
footer {
  /* float: left; ***/
  clear: both;
}
section {
  background: 0;
  padding: 0;
}
::selection {
  background: #3ba5ff;}
::-moz-selection {
  background: #3ba5ff;}

/*======HEADER ========== */
header {
  float: left;
  clear: both;
  width: 100%;
  margin: auto;
}
.thelargeheader {
  
  height: 460px;
/*  position: fixed; ***/
  width: 100%;
  background-color: #3ba5ff;
}



#tumblr_controls {
     z-index:2000;
     position: fixed !important;
     margin-top:12px;
     margin-left:10px;
}


#bgheader {
  position: absolute;
  top: -20%;
  left: 0;
  min-width: 100%;
  min-height: 125%;
  z-index: 0;
}


@media screen and (max-width: 1460px) {
  #bgheader {
    min-height: 115%;
    top: -10%;
  }
}
@media screen and (max-width: 1360px) {
  #bgheader {
    min-height: 90%;
    top: 0%;
    min-width: 110%;
    width: 100%;
  }
}




@media screen and (max-width: 850px) {
  #bgheader {
    min-height: 110%;
    top: 50px;
    min-width: 110%;
    width: 200%;
  }
}





#blogtitle {
  position: absolute;
  margin-top: 190px;
  z-index: 10;
  width: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#blogtitle img{
    margin: -50px auto;
}


#descriptionheader {
  position: absolute;
  margin-top: 320px;
  z-index: 55;
  width: 400px;
  left: 50%;
  margin-left: -200px;

  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#descriptionheader h6 {
  font-size: 16px;
  text-align: center;
  font-weight: 400;
   color: #fff;
   text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  letter-spacing: 0px;
}
#descriptionblog {
  position: absolute;
  margin-top: 260px;
  z-index: 10;
  width: 440px;
  left: 50%;
  margin-left: -220px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#descriptionblog h6 {
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  color: #3e3e3e;
  letter-spacing: 0px;
}



.socialiconlinks{
  
    position: absolute;
    margin: 380px 25% 0 25%;
    width:50%;

    text-align: center;
     
}

.socialiconsbits{
 
   display: inline-block;
  list-style: none;
 position:relative;
 padding: 7px 5px 0 0;

    opacity: 0.6 ;
    margin: 0px 10px 0 10px;
    width:35px;
    -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}

.socialiconsbits:hover{
    opacity: 0.7;
    
}

.socialiconsbits li{
    opacity: 0.7;
    
}



.crossit{
 position: absolute;
 top: 80px;
    right: 30px
}

.navtop {
  height: 50px;
  /* position: fixed; ***/
  margin: 0 auto;
  width: 100%;
  z-index: 1000;
  background: #f1f1f1;
}
.selected {
  height: 50px;

}
.selectedb {
  height: 50px;

}
.navigation {
  height: 50px;
  padding-top: 0px;
  width: 98%;
  margin: 0px 2% 0 2%;
  text-align: center;
  
}


.navigation li {
  display: inline-block;
  list-style: none;
  padding: 3px 40px 0 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #6b6b6b;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
  position: relative;
  padding-top: 17px;
    -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}


.navigation a {
color: #6b6b6b;
}

.navigation a:hover {
color: ;
}


.navigation li:hover {

  color: ;

}


.aboutsection {
  position: absolute;
  width: 100%;
  height: 500px;
  background: rgba(241,241,241, 0.8);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: 10;
  opacity: 0;
}
.avitar {
  position: absolute;
  left: 50%;
  margin-left: -75px;
  top: 100px;
  z-index: 10;
   border:5px  rgba(0,0,0,0.2)  solid;
    border-radius: 50%;
 
}

.avitarimg{
    border-radius: 50%;

}
/*=======MAIN BIT========*/

.mainbitperma{
position: relative;
  top: 50px;
  background-color: #f8f8f8;
  padding-bottom: 160px;
  z-index: 10;
    
}



.mainbit {
  position: relative;
  top: 460px;
  background-color: #f8f8f8;
  padding-bottom: 450px;
  z-index: 10;
}
article {
  padding-top: 60px;
  width: 75%;
  margin: 0 12.5% 0 12.5%;
}
.theposttitle {
  margin: 20px 0 20px 0;
}
.quote-short {

  position: relative;
  margin-left: -60px;
}
.quote-short p {
  font-size: 36px;
  line-height: 50px;
}
.quote-author {
  position: relative;
  width: 600px;
  margin-bottom: 30px;
}
.quote-author p {
  font-size: 26px;
  line-height: 50px;
  color: #a4a4a4;
}
.thelink {
  position: relative;
  left: -60px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}


.thelink p {
  font-size: 36px;
  line-height: 50px;
  margin-bottom: 30px;

}


.thelink a {
    font-family: 'Merriweather', sans-serif;
  border-bottom: 1px dotted #e1e1e1;
   font-size: 36px;
  line-height: 50px;
  margin-bottom: 30px;
}
.thelink:hover {
  opacity: 0.8;
}

/*=======FOOTER========*/
.pagination {
  clear: both;
  width: 70%;
  position: relative;
  top: -20px;
  max-width: 70%;
  margin: 0 15% 50px 15% ;
}
.afooter {
  position: relative;
  top: 20px;
  z-index: 100;
  width: 100%;
  padding: 20px 15% 0 15%;
background: #f1f1f1

}
.afooter h5 {
color: #6b6b6b;
}

.afooter a {
color: #6b6b6b;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.afooter a:hover {
color: ;
}

.ontheright {
  top: -55px;
  float: right;
  position: relative;
  display: block;
}
.totheright {
  display: block;
  float: right;
  position: relative;
  margin-left: 20px;
}
.totherightsearch {
  float: right;
  margin-left: 20px;
}
input {
  border: none;
  padding: 10px 30px 10px 30px;
  background: rgba(255, 255, 255, 0.8);
  margin: 0 0 10px 0;
  outline: none;
}
input p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #585858;
  font-weight: 400;
  font-style: normal;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}






/* ==== POST META ========== */
.permalink {
  float: left;
  display: block;
  margin-right: 20px;
}


.permalink img{
    opacity:0.5;
    
    -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
    
    
    
}


.permalink img:hover{
    
    opacity:1;
    
}


.post-meta {
  position: relative;
  margin-top: 50px;
  margin-bottom: 30px;
  border-top: #e1e1e1 1px solid;
  padding: 25px 0 35px 0;
}

.post-meta a {
    font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #e0e0e0;
  font-weight: 400;
  font-style: normal;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}


.post-meta a:hover {
      color: #aeaeae;
      
      }



.metaitemright {
  float: right;
  display: block;
 position:relative;
  margin-left: 30px;
}

.metaitemleft {
  float: left;
  display: block;
 position:relative;
  margin-right: 30px;
}

.linkicon{
    float: left;
  display: block;
 position:relative;
 padding: 7px 5px 0 0;
}

.dsq-comment-count{
   clear: both;
    position:relative;
    float:right;
  margin-left: 30px;
    
    }

.avatar_frame{
 width: 18px !important;
 height: 18px;
 margin-top: 9px;
 position:relative;
   display:block;
    float:left;
}

.note-count img{
    display:block;
    float:left;
    width:20px !important;
    }

    
    
.tagged{
 height: 94px;   
 overflow:hidden;
}
    
.topspace{
    margin-top: 3px;
    margin-right: 15px;   
}
    
.prev{
    float:left;
    display:block;
    width:150px;
    padding: 10px 0px 10px 43px;
    background: #b7b3b3;
     font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 24px;
   background: #f1f1f1;
  font-weight: 400;
  font-style: normal;
-webkit-transition: all 0.2s ease-in-out; 
               -moz-transition: all 0.2s ease-in-out; 
               -o-transition: all 0.2s ease-in-out; 
               -ms-transition: all 0.2s ease-in-out; 
               transition: all 0.2s ease-in-out;
    }
    
    
    .prev:hover{
        
     background: #e9e9e9;   
    }
    
.next{
    float:right;
    display:block;
     width:150px;
    padding: 10px 00px 10px 40px;
    background: black;
     font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 24px;
   background: #f1f1f1;
  font-weight: 400;
  font-style: normal;
  
    -webkit-transition: all 0.2s ease-in-out; 
               -moz-transition: all 0.2s ease-in-out; 
               -o-transition: all 0.2s ease-in-out; 
               -ms-transition: all 0.2s ease-in-out; 
               transition: all 0.2s ease-in-out;
    
    }

 .next:hover{
        
     background: #e9e9e9;   
    }
    





.js-video {

height: 0;

padding-top: 25px;

padding-bottom: 67.5%;

margin-bottom: 10px;

position: relative;

overflow: hidden;

}

 

.js-video.widescreen {

padding-bottom: 57.25%;

}

 

.js-video.vimeo {

padding-top: 0;

}


.js-video embed, .js-video iframe, .js-video object, .js-video video {

top: 0;

left: 0;

width: 100%;

height: 100%;

position: absolute;

}



/* =============================================================================
PXU Photoset Extended Styles
========================================================================== */

.clearit:before, .clearit:after { content: ""; display: table; }
.clearit:after { clear: both; }
.clearit { *zoom: 1; }

/* Photoset */

.photo-slideshow .row {
  clear: both;
  width: 100%;
}

.photo-slideshow .pxu-photo {
  display: block;
  float: left;
  margin-bottom: 0;
  width: 100%;
  overflow: hidden;
}

.photo-slideshow .pxu-photo img {
  width: 100%;
  height: auto;
}

.photo-slideshow .pxu-photo:first-child img {
  margin-left: 0;
}

.photo-slideshow .count-1 {
  width: 100%;
}

.photo-slideshow .count-2 {
  width: 50%;
}

.photo-slideshow .count-3 {
  width: 33.3%;
}

.photo-slideshow .count-3:first-child {
  width: 33.4%;
}

.photo-slideshow .count-4 {
  width: 25%;
}

.photo-slideshow .count-5 {
  width: 20%;
}

.photo-slideshow .info {
  display: none;
}

/* Icons for EXIF Data and Zoom */

.photo-data {
  position: relative;
  float: left;
}

.icons {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 66px;
  text-indent: -9999px;
  z-index: 999;
  visibility: hidden;
}

.icons > span, .icons .tumblr-box span {
  width: 20px;
  height: 20px;
  display: block;
  margin-bottom: 2px;
  cursor: pointer;
}

.zoom {
  background: url('http://static.tumblr.com/hugxd2w/kgem0so9j/zoom-icon.png');
}

.info {
  background: url('http://static.tumblr.com/hugxd2w/ffwm0so9t/info-icon.png');
  position: relative;
}

/* EXIF & CAPTION Data Tooltip */

.pxu-data {
  position: absolute;
  top: 30px;
  left: -110px;
  width: 240px;
  background: #000;
  background: rgba(0,0,0,.85);
  color: #fff;
  font-size: 12px;
  line-height: 1.4;
  text-indent: 0;
  padding: 20px;
  display: none;
  opacity: 0;
  filter: alpha(opacity = 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

  box-shadow: 2px 2px 7px rgba(0,0,0,0.55);

  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}

.pxu-caption {
  margin-top: 0;
  word-wrap: break-word;
}

.pxu-caption:before {
  content: url('http://static.tumblr.com/hugxd2w/SSBm6wxmm/caption-icon.png');
  opacity: 0.5;
  filter: alpha(opacity = 50);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  float: left;
  margin-right: 5px;
}

.pxu-data.caption-only .pxu-caption {
  margin-bottom: 0;
}

.pxu-data table {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  width: 100%;
}

.pxu-data table tr {
  width: 100%;
}

.pxu-data table tr td {
  width: 50%;
  font-weight: bold;
  padding-bottom: 15px;
}

.pxu-data table tr:last-child td {
  padding-bottom: 0;
}

.pxu-data .label {
  color: #cccccc;
  text-transform: uppercase;
  font-size: 10px;
  text-align: right;
  padding-right: 12px;
  font-weight: normal;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 10px solid rgba(0,0,0,0.85);

  position: absolute;
  top: -10px;
  left: 110px;
}
















/* = = = = = = = = = = = = = = = = = iPhone Landscape */
@media screen and (max-width: 650px) {
    h1{
     font-size: 80px;   
    }
    
    
    

.metaitemright {
  float: left;
  display: block;
 position:relative;
  margin-right: 30px;
    margin-left: 0px;
}    
    
    



    #tumblr_controls {
      opacity:0;
}
    
    .navigation li {
 
  padding: 17px 10px 0 10px;
  
    }
  
}
/* = = = = = = = = = = = = = = = = = iPad Portrait */
@media screen and (min-width: 1000px) {
  .quote-short {
  width: 900px;

}
}
/* = = = = = = = = = = = = = = = = = iPad Landscape */
@media screen and (max-width: 1000px) {
    
    
   .thelink {
  position: relative;
  left: 0px;   
  
   }

.quote-short {

  margin-left: 0px;
}




  
}
/* = = = = = = = = = = = = = = = = = Medium Screens */
@media screen and (min-width: 1020px) {
  article {
    position: relative;
    width: 800px;
    left: 50%;
    margin-left: -400px;
  }
  .navigation {
    position: relative;
    width: 800px;
    left: 50%;
    margin-left: -400px;
  }
  
   .pagination {
    position: relative;
    width: 800px;
    left: 50%;
    margin-left: -400px;
  }
  
  
}
/* = = = = = = = = = = = = = = = = = Bigger Screens */
@media screen and (min-width: 1420px) {
  
}

   
   
   
   
 ol.notes {
     
                position :relative;
                left: -280px;
                padding: 0px;
                margin: 25px 0px;
                list-style-type: none;
              
            }

            ol.notes li.note {
               
                padding: 5px;
            }

            ol.notes li.note img.avatar {
                vertical-align: -4px;
                margin-right: 10px;
                width: 16px;
                height: 16px;
            }

            ol.notes li.note span.action {
           font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #e0e0e0;
  font-weight: 400;
  font-style: normal;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
            }

            ol.notes li.note .answer_content {
              
            }

            ol.notes li.note blockquote {
              
                padding: 2px 10px;
                margin: 5px 0px 0px 10px;
            }

            ol.notes li.note blockquote a {
                text-decoration: none;
            }   
   
   
ol.notes p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #e0e0e0;
  font-weight: 400;
  font-style: normal;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
ol.notes p:hover {
  color: #aeaeae;
}


ol.notes a {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #e0e0e0;
  font-weight: 400;
  font-style: normal;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
ol.notes a:hover {
  color: #aeaeae;
}
