{% extends "base.html" %}
{% block title %}{{ neighborhood.full }} Neighborhood Crimes: {% endblock title %}
{% block description %}Neighborhood{% endblock description %}
{% block subhead %}{{ neighborhood.full }}{% endblock subhead %}
{% block breadcrumbs %}{{ neighborhood.full }}{% endblock breadcrumbs %}
{% block timestamp %}{% endblock timestamp %}
{% block style %}
body { margin-top:5px; }
{% endblock style %}

{% block ticker %}{{ response.ticker.last_crime }} since the last murder{% endblock ticker %}

{% block content %}
<div class="col">
    <h3>Recent Crimes in {{ neighborhood.full }}</h3>
    {% for crime in response.recent %}
    <li>{{ crime }}</li>
    {{ crime.FIRST_OCCURRENCE_DATE }}
    {% endfor %}
</div>
{% endblock content %}
