{% extends "base.html" %}
{% block title %}{{ neighborhood.full }} Neighborhood Crimes: {% endblock title %}
{% block description %}Neighborhood{% endblock description %}
{% block subhead %}{{ neighborhood.full }}{% endblock subhead %}
{% block breadcrumbs %}{{ neighborhood.full }}{% endblock breadcrumbs %}
{% block style %}
body { margin-top:5px; }
{% endblock style %}

{% block timestamp %}Last updated {{ response.timestamp.timestamp|datetime }}{% endblock timestamp %}
{% block ticker %}{{ response.ticker.last_crime }} since the last murder{% endblock ticker %}

{% block content %}
<div class="col">
    <h3>Recent Crimes in {{ neighborhood.full }}</h3>
    <ul>
    {% for crime in response.recent[0:20] %}
    <li>{{ crime.OFFENSE_TYPE_ID }}, at {{ crime.FIRST_OCCURRENCE_DATE }}, at {{ crime.INCIDENT_ADDRESS }}</li>
    <!-- {{ crime.FIRST_OCCURRENCE_DATE }} -->
    {% endfor %}
    </ul>
</div>
{% endblock content %}
