{% extends "base.html" %}
{% block title %}{{ neighborhood.full }} Neighborhood Crimes: {% endblock title %}
{% block description %}Neighborhood{% endblock description %}
{% block subhead %}About {{ neighborhood.full }}{% endblock subhead %}
{% block breadcrumbs %}<a href="../">{{ neighborhood.full }}</a>{% endblock breadcrumbs %}
{% block style %}
body { margin-top:5px; }
{% endblock style %}

{% block ticker %}{% endblock ticker %}

{% block content %}
<div class="col">
</div>

<div class="col">
</div>
{% endblock content %}
