{% extends "base.html" %}
{% block title %}{{ neighborhood.full }} Neighborhood Crimes: {% endblock title %}
{% block description %}Neighborhood{% endblock description %}
{% block subhead %}{{ neighborhood.full }}{% endblock subhead %}
{% block breadcrumbs %}{{ neighborhood.full }}{% endblock breadcrumbs %}
{% block style %}
body { margin-top:5px; }
{% endblock style %}

{% block timestamp %}Last updated {{ response.timestamp.timestamp|datetime }}{% endblock timestamp %}
{% block ticker %}{{ response.ticker.last_crime }} since the last homicide{% endblock ticker %}

{% block content %}
<div class="col">
    <h3>Denver Per-Capita Crimes</h3>
    <div class="col">
        <h4>Property crimes per 1,000 residents, 2013</h4>
        <ol>
        {% for item in response.rankings.property[1].percapita %}
            <li{% if loop.index > 36 %} class="hide"{% endif %}>{{ item.0|offense }}: {{ item.1 }}</li>
        {% endfor %}
        </ol>
    </div>
    <div class="col">
        <h4>Violent crimes per 1,000 residents, 2013</h4>
        <ol>
        {% for item in response.rankings.violent[1].percapita %}
            <li{% if loop.index > 36 %} class="hide"{% endif %}>{{ item.0|offense }}: {{ item.1 }}</li>
        {% endfor %}
        </ol>
    </div>
</div>

<div class="col">
    <h3>Recent Crimes in {{ neighborhood.full }}</h3>
    <dl>
    {% for crime in response.recent[0:20] %}
        <dt>{{ crime.OFFENSE_TYPE_ID|offense }}:</dt>
            <dd>{{ crime.FIRST_OCCURRENCE_DATE|datetime_raw|datetime('full') }}, at {{ crime.INCIDENT_ADDRESS|address }}</dd>
    {% endfor %}
    </dl>
</div>
{% endblock content %}
